뒤집은 소수

n개의 자연수가 입력되면 각 자연수를 뒤집은 후 그 뒤집은 수가 소수이면 그 수를 출력하시오

In [74]:
def reverse_decimal(num_lst):
    rev = []
    for i in num_lst:
        i = list(reversed(list(str(i))))
        i = int(''.join(i))
        rev.append(i)
                    
    for num in rev:
        cnt = 0
        is_prime = True
        for i in range(1, num):
            if num%i == 0:
                cnt += 1
                
            if cnt > 1:
                is_prime = False
                break
                
        if is_prime == False:
            rev.remove(num)
            
    return rev

In [75]:
reverse_decimal([32, 54, 3700, 250])

[23, 73]

In [59]:
a = 32
b = list(reversed(list(str(a))))
b = int(''.join(b))
b

23

In [68]:
a=['1', '2', '3']
int("".join(a))

123