## 중복순열 구하기

1부터 n까지 번호가 적인 구슬이 있다. 이 중 중복을 허락하여 M번 뽑아 일렬로 나열하는 방법을 모두 출력한다.

In [1]:
n, m = map(int, input().split())

3 2

In [9]:
cnt = 0
rp = [0]*m 
def DFS(x):
    global cnt
    if x == m:
        for j in range(m):
            print(rp[j], end = ' ')
        print()
        cnt += 1
    else:
        for i in range(1, n+1):
            rp[x] = i
            DFS(x+1)

In [10]:
DFS(0)
print(cnt)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
9